<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Categories</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body >
    {% extends 'base.html' %} 
    {% load static %} 
    {% block content %} 
    {{block.super}}
    <div class="container mt-5">
        <h1 class="mb-4">Meal Categories</h1>
        <div class="row">
            {% for category in data.0.categories %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ category.strCategoryThumb }}" class="card-img-top " alt="{{ category.strCategory }}">
                        <div class="card-body"   style="height: 200px; overflow: hidden;">
                            <h5 class="card-title">{{ category.strCategory }}</h5>
                            <p class="card-text">{{ category.strCategoryDescription }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>


    {% endblock %}
    <!-- Add Bootstrap JS and Popper.js scripts here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
